.App {
  text-align: center;
}

.App-header {
  /*background-color: #282c34;*/
  background-color: #252525;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: normal;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Body-Container {
  text-align: center;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: normal;
  border: #61dafb;
}

footer {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.Home-currentWeather {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

.Home-weather-icon {
  height: 100px;
  line-height: 1.5em;
  box-sizing: border-box;
}

.op-icon-div {
  position: relative;
  height: 50px;
  overflow: hidden;
}

.op-icon {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  bottom: -100%;
  margin: auto;
  height: 80px;
  box-sizing: border-box;
}

.Home-temperature {
  font-size: 4em;
  font-weight: 600;
  line-height: 1.5em;
}

/*.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/